<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="css/payment.css">
</head>
<body>
    <section class="payment-section">
        <div class="payment-conatiner">
            <div class="payment-details">
                <div class="product-details">
                    <h2><i class='fas fa-rupee-sign'></i>&nbspPayment for E-book</h2>
                    <h3>Crack any Govt Exams</h3>
                    <div class="product-price">
                        <h4>INR 450</h4>
                    </div>
                </div>
            </div>
            <div class="payment-gateway">
                <div class="payment-heading">
                    <h3><i class='fas fa-money-check'></i>&nbspPay With RazorPay</h3>
                    <p>A secure medium to perform your Transaction </p>
                </div>
                <div class="razorpay-btn">
                    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_J0UHkJgBZFGfK8" async> </script> </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>